<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,➥initial-scale=1">
{% load static %}
	<title>Prayashala</title>

	<link rel="stylesheet" type="text/css" href="{% static 'PrayaShala/achivement.css' %}">
	 <link href="{% static 'PrayaShala/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'PrayaShala/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'PrayaShala/css/font-awesome.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="{% static 'PrayaShala/js/jquery.min.js' %}"></script>
       <script >
      $(document).ready(function()
       {
$("#Home").click(function(){

         $("#IHome").submit();
         return false;

          });
           $("#faculty").click(function(){

         $("#Fform").submit();
         return false;

          });

            $("#Students").click(function(){

         $("#Sform").submit();
         return false;

          });
              $("#blog").click(function(){

         $("#Bform").submit();
         return false;

          });
                      $("#CreateTest").click(function(){

         $("#TestForm").submit();
         return false;


       });
       

        });

       </script>
      
</head>
<body>
<div class="container-fluid">
   <div  class="row">
	<div class="col-xs-12 col-sm-12 col-md-12" id="header">
     <nav class="navbar navbar-transparent animated-header " style="margin:10px;">
	<div class="container-fluid">
	<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-3">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
       <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
      </button>
    <a class="navbar-brand" href="#" id="prayashala" style="font-family:cursive;font-size:30px">{{dataI.Institute_Name}}</a>
    </div>	
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2"></div>
    <div class="col-xs-12 col-sm-8 col-md-8">
	<div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right navLink" >
        <li  ><a href="#" class="button" id="Home" style="background-color: transparent; text-decoration: none;"> Home</a></li>
        <li><a href="#" class="button" id="blog" style="background-color: transparent; text-decoration: none;">Blog</a></li>
         <li><a href="#" class="button" id="faculty" style="background-color: transparent; text-decoration: none;">Faculty Profiles</a></li>
          <li class="active"><a href="#" class="button" id="Achivement" style="background-color: transparent; text-decoration: none;">Achivements</a></li>
           <li><a href="#" class="button" id="Students" style="background-color: transparent; text-decoration: none;">Students</a></li>
            <li><a href="#" class="button" id="CreateTest" style="background-color: transparent; text-decoration: none;">Create Test</a></li>
        
      </ul>
      </div>
      </div>
      </div>
      </div>
</nav>

</div>
</div>

<div class="row"  id="main">
<div class="col-sm-1 col-md-1"></div>
<div class="col-xs-12 col-md-10 col-sm-10" id="dashboard">

<div class="container-fluid">

  <div class="row">

  {% if dataA %}
  {% for d in dataA %}

    <div class="col-xs-12 col-md-4 col-sm-4 " >
    <div class="container-fluid box">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <img src="{{d.Image.url}}" align="left" width="100px" height="100px">
          
        </div>
        <div class="col-sm-7 col-md-7">
        <h4>{{d.Name}}</h4>
       <h4 > {{d.Comment}}</h4>

        </div>
      </div>
    </div>
     
     
     
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-xs-12 col-md-4 col-sm-4 " >
    <div class="container-fluid box">
      <div class="row">
       
          <a href="#" data-toggle="modal" data-target="#UploadModal"><img src="{% static 'PrayaShala/Add.png' %}" style="position:relative;top:50%" ></a>
        
    </div>

 
  </div>
</div>


</div>

</div>
</div>
</div>



<div id="footer"  class="row">
	
	<div class="col-xs-12 col-md-4 col-sm-4">
		<img src="{% static 'PrayaShala/logo2.png'%}" style="width:100%;height 100%;margin-top:30px;margin-bottom:30px">
	</div>

<div class="col-xs-12 col-md-1 col-sm-1"></div>
<div class="col-xs-12 col-md-3 col-sm-3" class="contact">
	<center><a href="#" style="font-size:20px;font-family:cursive;">Contact Us</a><br/></center>
	<center><a href="#"><img src="{% static 'PrayaShala/facebook.png'%}" style="width:100px ;height:80px" class="social"></a>
	<a href="#"><img src="{% static 'PrayaShala/linkidin.png'%}"  class="social" style="width:100px ;height:80px"></a>
	<a href="#"><img src="{% static 'PrayaShala/Email.png'%}"  class="social" ></a>
	<a href="#"><img src="{% static 'PrayaShala/t.png'%}" style="margin-left:20px" class="social" ></a></center>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
<div class="col-xs-12 col-sm-2 col-md-2"></div>
<div class="col-xs-12 col-sm-2 col-md-2" style="padding:30px">
	<h4>COMPANY</h4>
	<a href="#" style="font-size:20px;font-family:cursive;">About Us</a></br>
	
</div>

</div>
</div>

	<div class="modal fade" id="UploadModal" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content" id="modalcontent">
      
  <button type="button" class="close" data-dismiss="modal" style="color:black">&times;</button>

  <form action="/AddAchive/" id="Aform" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    <label for=""></label>
  <input type="text" name="email" id="" placeholder="email" class="email" value={{Email}} >
    
  <label for=""></label>
  <input type="text" name="name" id="" placeholder="Name" class="pass" >
  <input type="text" name="comment" placeholder="Comment" >
  <input type="file" name="Image" >
    
  <button type="submit">Upload</button>
    
</form> 

       
  </div>

</div>
 </div>

  <form  style="display: hidden" action="/IBlog/" method="POST" id="Bform">
{% csrf_token %}

  <input type="hidden" id="var1" name="email" value={{Email}}>
</form>
<form style="display: hidden" action="/IFaculty/" method="POST" id="Fform">
{% csrf_token %}

  <input type="hidden" id="var2" name="email" value={{Email}}>
</form>
  
  <form style="display: hidden" action="/IStudents/" method="POST" id="Sform">
{% csrf_token %}

  <input type="hidden" id="var1" name="email" value={{Email}}>
</form>
  
<form style="display: hidden" action="/IHome/" method="POST" id="IHome">
{% csrf_token %}

  <input type="hidden" id="var1" name="email" value={{Email}}>
</form>
<form style="display: hidden" action="//" method="POST" id="TestForm">
{% csrf_token %}

  <input type="hidden" id="var1" name="email" value={{Email}}>
</form>

 
</body>


</html>