<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,➥initial-scale=1">
{% load static %}
	<title>Prayashala</title>

	<link rel="stylesheet" type="text/css" href="{% static 'PrayaShala/style.css' %}">
	 <link href="{% static 'PrayaShala/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'PrayaShala/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'PrayaShala/css/font-awesome.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src="{% static 'PrayaShala/js/jquery.min.js' %}"></script>
       <script >
       $(document).ready(function(){

       	$('#LoginButton').prop('disabled', true);
       	     $("#Loginform").show();
       		$("#Signupform").hide();
       		  $("#message").hide();
       	$("#SignupButton").click(function(){

       		$('#SignupButton').prop('disabled',true);
       		$('#LoginButton').prop('disabled', false);
       		$("#Loginform").hide();
       		$("#Signupform").show();

       	});
       	$("#LoginButton").click(function(){

       		$('#SignupButton').prop('disabled',false);
       		$('#LoginButton').prop('disabled', true);
       		$("#Loginform").show();
       		$("#Signupform").hide();

       	});

       	$("#Signupform").submit(function(){

          $.ajax({
              url: "/Student_Signup/", 
              type: "POST",             
              data: new FormData(this), 
              contentType: false,   
               beforeSend: function()
            {
               $("#message").show();
            } ,     
              cache: false,            
            processData:false,        
        success: function(data)   
      {

            alert(data);
            $("#message").hide();

      }
            });
          return false;

        });
          $("#Loginform").submit(function(){

          $.ajax({
              url: "/Student_Login/", 
              type: "POST",             
              data: new FormData(this), 
              contentType: false,      
              cache: false,            
            processData:false,  
            beforeSend: function()
            {
               $("#message").html("<p>Please Wait...</p>");
            } ,     
        success: function(data)   
      {
        if(data=='pass')
        {
          value=$("#Email").val();
          $("#var1").val(value);
          $("#Lform").submit();

          }        
        else if(data=='fail1')
          alert("Please varify your account");

        else
          alert("Please Check your email and password");

      }
            });
          return false;

        });

      

       });
       </script>
      
</head>
<body>
<div class="container-fluid">
   <div  class="row">
	<div class="col-xs-12 col-sm-12 col-md-12" id="header">
     <nav class="navbar navbar-transparent animated-header " style="margin:10px;">
	<div class="container-fluid">
	<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-3">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
       <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
      </button>
    <a class="navbar-brand" href="#" id="prayashala"><img src="{% static 'PrayaShala/logo2.png'%}" id="logo"></a>
    </div>	
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2"></div>
    <div class="col-xs-12 col-sm-7 col-md-7">
	<div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right navLink" >
        <li  class="active"><a href="#" class="button" id="Student" style="background-color: transparent; text-decoration: none;"> For Student</a></li>
        <li><a href="{% url 'institute' %}" class="button" id="Institute" style="background-color: transparent; text-decoration: none;">For Institute</a></li>
          <li><a href="#" class="button" id="Login" style="background-color: transparent; text-decoration: none;" data-toggle="modal" data-target="#LoginModal">Sign In</a></li>
        
      </ul>
      </div>
      </div>
      </div>
      </div>
</nav>

</div>
</div>
<div id="main" class="row">
</div>

<div id="footer"  class="row">
	
	<div class="col-xs-12 col-md-4 col-sm-4">
		<img src="{% static 'PrayaShala/logo2.png'%}" style="width:100%;height 100%;margin-top:30px;margin-bottom:30px">
		

	</div>
<div class="col-xs-12 col-md-1 col-sm-1"></div>
<div class="col-xs-12 col-md-3 col-sm-3" class="contact">
	<center><a href="#" style="font-size:20px;font-family:cursive;">Contact Us</a><br/></center>
	<center><a href="#"><img src="{% static 'PrayaShala/facebook.png'%}" style="width:100px ;height:80px" class="social"></a>
	<a href="#"><img src="{% static 'PrayaShala/linkidin.png'%}"  class="social" style="width:100px ;height:80px"></a>
	<a href="#"><img src="{% static 'PrayaShala/Email.png'%}"  class="social" ></a>
	<a href="#"><img src="{% static 'PrayaShala/t.png'%}" style="margin-left:20px" class="social" ></a></center>
	
</div>
<div class="col-xs-12 col-sm-2 col-md-2"></div>
<div class="col-xs-12 col-sm-2 col-md-2" style="padding:30px">
	<h4>COMPANY</h4>
	<a href="#" style="font-size:20px;font-family:cursive;">About Us</a></br>
	
</div>

</div>
</div>
<div class="modal fade" id="LoginModal" role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content" id="modalcontent">
			
			<button type="button" class="close" data-dismiss="modal" style="color:black">&times;</button>
<div class="modal-body" id="modalbody" >
<div class="btn-group btn-group-justified" style="width:300px; margin-bottom:20px"  >
  <div class="btn-group">
    <button type="button" class="btn btn-lg Formbutton" id="LoginButton">Log In</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-lg Formbutton " id="SignupButton">Sign Up</button>
  </div>
</div>
	<form action="/Student_Login/" id="Loginform" method="post">
	{% csrf_token %}
    <label for=""></label>
  <input type="text" name="Email" id="Email" placeholder="email" class="email">
    
  <label for=""></label>
  <input type="password" name="Password" id="Password" placeholder="password" class="pass">
    
  <button type="submit">login to your account</button>
    <center><a href="#" style="color:blue;font-family:cursive;font-size:20px;text-decoration:none"> Forgot Password ?</a></center>
</form>	
<form action="/Student_signup/" id="Signupform"  method="post">
	{% csrf_token %}
	  <label for=""></label>
  <input type="text" name="Name" id="" placeholder="Name" class="user">
    <label for=""></label>
  <input type="text" name="Email" id="" placeholder="email" class="email">
    
  <label for=""></label>
  <input type="password" name="Password" id="" placeholder="password" class="pass">
    
  <button type="submit">Register</button>
    <center><a href="#" style="color:blue;font-family:cursive;font-size:20px;text-decoration:none"> Forgot Password ?</a></center>
     <center><h4 id="message" style="color:red">Please wait.....</h4></center> 
</form>	
       
	</div>

</div>

			</div>
		</div>
		
	
</body>
<form style="display: hidden" action="/StudentHome/" method="POST" id="Lform">
{% csrf_token %}

  <input type="hidden" id="var1" name="email" value=""/>

</html>